@page
@model PMOC360.Web.Pages.Pmoc.Modelo.Itens.IndexModel
@{
	ViewData["Title"] = "Itens do Modelo de Pmoc";
}

<div class="row">
	<div class="container">
		<h3>
			Itens do Modelos de PMOC: @Model.Modelo
		</h3>
	</div>
	@if (TempData["AlertMessage"] != null)
	{
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			@TempData["AlertMessage"]
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	}
	<div style="padding-top:20px;">
		<a asp-page="./Novo" type="button" class="btn btn-primary" style="font-size:small;">Novo Item</a>
		<div class="row mb-3" style="padding: 6px 10px; float: right; text-align: right;">
			<div class="col-auto">
				<label class="col-form-label">Pesquisar</label>
			</div>
			<div class="col-auto">
				<input class="form-control form-control-sm" type="search" width="150" />
			</div>
		</div>
		<table id="table" class="table" width="100%" style="font-size:small;">
			<thead>
				<tr>
					<th scope="col">Descrição</th>
					<th scope="col">Frequencia</th>
					<th scope="col">Observação</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				@if (Model.Itens != null)
				{
					@foreach (var item in Model.Itens)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Descricao)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Frequencia)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Observacao)
							</td>
							<td>
								<form method="post">
									<a asp-page="/Pmoc/Modelo/Itens/Index" asp-route-id="@item.ID" title="Itens">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-displayport" viewBox="0 0 16 16" style="color:black; margin:5px">
											<path d="M2.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 1 0V8h10v.5a.5.5 0 0 0 1 0v-1a.5.5 0 0 0-.5-.5z" />
											<path d="M1 5a1 1 0 0 0-1 1v3.191a1 1 0 0 0 .553.894l1.618.81a1 1 0 0 0 .447.105H15a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1zm0 1h14v4H2.618L1 9.191z" />
										</svg>
									</a>
									<a asp-page="./Editar" asp-route-id="@item.ID" title="Editar">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16" style="color:black; margin:5px">
											<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
										</svg>
									</a>
									<a type="submit" asp-page-handler="Delete" asp-route-id="@item.ID" title="Desativar" onclick="return confirm('Deseja realmente desativar este cliente?');">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser" viewBox="0 0 16 16" style="color:black; margin:5px">
											<path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293z" />
										</svg>
									</a>
								</form>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>
	</div>
</div>

